* {
    margin        : 0;
    padding       : 0;
    box-sizing    : border-box;
    vertical-align: middle;
}

.w {
    width : 1200px;
    margin: 0 auto;
}


@font-face {
    font-family: 'iconmoon';
    src        : url('../fonts/icomoon.eot');
    src        : url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#iconfont') format('svg');
}

em,
i {
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

a {
    color          : #212121;
    transition     : color .3s;
    text-decoration: none;

    &:hover {
        color: #00a1d6;
    }

    &:focus {
        outline: none;
    }
}

:focus {
    outline: none;
}

button {
    cursor: pointer;
}

button,
input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color      : #fff;
    font                  : 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color                 : #666;
}

.clearfix {
    *zoom: 1;

    &:after {
        visibility: hidden;
        clear     : both;
        display   : block;
        content   : ".";
        height    : 0;
    }
}

img {
    border        : 0;
    vertical-align: middle;
}

// header start
@keyframes move {
    0% {
        transform: translateY(0px);
    }

    5% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-32px);
    }

    55% {
        transform: translateY(-32px);
    }

    75% {
        transform: translateY(-64px);
    }

    100% {
        transform: translateY(-64px);
    }
}

@keyframes anime {
    0% {
        background: url(../images/header_anime1.png),
            url(../images/header_anime2.png),
            url(../images/header_anime3.png);
        background-size: 1530px 155px,
            1530px 155px,
            1530px 155px;
    }

    48% {
        background     : url(../images/header_anime1.png);
        background-size: 1530px 155px;
    }

    49% {
        background     : url(../images/header_anime2.png);
        background-size: 1530px 155px;
    }

    50% {
        background     : url(../images/header_anime3.png);
        background-size: 1530px 155px;
    }

    51% {
        background     : url(../images/header_anime2.png);
        background-size: 1530px 155px;
    }

    52% {
        background     : url(../images/header_anime1.png);
        background-size: 1530px 155px;
    }

    100% {
        background     : url(../images/header_anime1.png);
        background-size: 1530px 155px;
    }
}

header {
    position: relative;
    width   : 1519px;
    height  : 155px;
    background:
        url(../images/header_bg.png) no-repeat;
    background-size:
        1530px 155px;
    z-index: -2;

    &::before {
        content  : "";
        width    : 100%;
        height   : 100%;
        position : absolute;
        left     : 0;
        top      : 0;
        z-index  : -2;
        animation: anime 5s ease infinite;
    }

    &::after {
        content : "";
        width   : 100%;
        height  : 100%;
        position: absolute;
        left    : 0;
        top     : 0;
        background: url(../images/layer4.png),
            url(../images/layer3.png),
            url(../images/layer2.png),
            url(../images/layer1.png);
        background-size: 1530px 155px,
            1530px 155px,
            1530px 155px,
            1530px 155px;
        filter : blur(5px);
        z-index: -1;
    }

    .shortcut-container {
        width  : 100%;
        height : 56px;
        padding: 10px 24px;

        div {
            float: left;
        }

        .shortcut {
            width    : 535px;
            height   : 36px;
            font-size: 14px;

            ul {
                li {
                    display: inline-block;
                    height : 32px;
                    margin : 2px 5px;

                    a {
                        height     : 32px;
                        line-height: 32px;
                        color      : #fff;
                    }

                    &:first-child {
                        a::before {
                            content     : '\e95b';
                            font-family : 'iconmoon';
                            margin-right: 5px;
                            color       : #fff;
                        }
                    }

                    &:last-child {
                        a::before {
                            content     : '\e959';
                            font-family : 'iconmoon';
                            margin-right: 5px;
                            color       : #fff;
                        }
                    }

                    &:nth-child(8) {
                        overflow: hidden;

                        .rot {
                            width    : 30px;
                            height   : 32px;
                            animation: move 5s ease infinite;

                            img {
                                width    : 40px;
                                height   : 30px;
                                transform: translateX(-5px);
                            }
                        }
                    }
                }
            }
        }

        form {
            float           : left;
            width           : 500px;
            height          : 36px;
            background-color: #fff;
            border-radius   : 2px;
            margin-left     : 100px;

            input {
                padding-left : 20px;
                width        : 450px;
                height       : 36px;
                border       : none;
                border-radius: 2px;
            }

            button {
                width        : 50px;
                height       : 36px;
                border       : none;
                border-radius: 2px;
                transition   : 0.3s;

                &:hover {
                    color: #00a1d6;
                }

                &::after {
                    content    : '\e986';
                    font-family: 'iconmoon';
                }
            }
        }

        .info {

            height     : 36px;
            margin-left: 95px;

            span {
                display  : inline-block;
                color    : #fff;
                font-size: 14px;
                margin   : 0 5px;
            }

            .icon {
                width          : 32px;
                height         : 32px;
                border-radius  : 50%;
                background     : url(../images/customer_icon.jpg) no-repeat;
                background-size: 32px 32px;
            }

            .publish {
                width           : 100px;
                height          : 36px;
                background-color: #fb7299;
                border-radius   : 2px;
                text-align      : center;
                line-height     : 36px;
            }
        }
    }

    .logo-wrap {
        height  : 99px;
        position: relative;

        .logo {
            position       : absolute;
            bottom         : 10px;
            left           : 0;
            width          : 162px;
            height         : 77px;
            font-size      : 0;
            background     : url(../images/logo.png);
            background-size: 162px 77px;

        }
    }
}

// header end
// nav start
nav {
    height : 108px;
    padding: 20px 0;

    div {
        float: left;
    }

    .left {
        width : 200px;
        height: 68px;

        li {
            float : left;
            width : 50px;
            height: 68px;

            div {
                margin       : 5px 7px;
                width        : 36px;
                height       : 36px;
                border-radius: 50%;

                &::before {
                    content    : '';
                    font-family: 'iconmoon';
                    font-size  : 26px;
                    text-align : center;
                    line-height: 36px;
                    margin     : 0 5px;
                    color      : #fff;

                    &:hover {
                        color: #fff;
                    }

                }
            }

            span {
                display   : block;
                width     : 50px;
                font-size : 14px;
                text-align: center;
            }


            &:nth-child(1) {
                div {
                    background-color: #ff5c7c;

                    &::before {
                        content: '\e902';
                    }
                }
            }

            &:nth-child(2) {
                div {
                    background-color: #fcba2a;

                    &::before {
                        content: '\e982';
                    }
                }
            }

            &:nth-child(3) {
                div {
                    background-color: #ff716d;

                    &::before {
                        content: '\e99d';
                    }
                }
            }

            &:nth-child(4) {
                div {
                    background-color: #6dc781;

                    &::before {
                        content: '\ea56';
                    }
                }
            }

        }
    }

    .bar {
        width           : 1px;
        height          : 46px;
        background-color: #e7e7e7;
        margin          : 15px 8px 0;
    }

    .middle {
        width : 748px;
        height: 68px;

        li {
            float       : left;
            width       : 61px;
            height      : 34px;
            margin-right: 9px;

            &:nth-child(10n+8) {
                width: 75px;
            }

            &:nth-child(10n+9) {
                width: 75px;
            }

            &:nth-child(10n) {
                width       : 89px;
                margin-right: 0px;
            }

            span {
                float : left;
                margin: 7px 0;

                &:nth-child(1) {
                    font-size: 14px;
                }

                &:nth-child(2) {
                    margin-left     : 3px;
                    margin-top      : 12px;
                    width           : 30px;
                    height          : 12px;
                    text-align      : center;
                    line-height     : 12px;
                    background-color: #73c9e5;
                    color           : #fff;
                    border-radius   : 2px;
                }
            }
        }
    }

    .right {
        width : 218px;
        height: 68px;

        li {
            float : left;
            width : 57px;
            height: 34px;

            &:nth-child(3n) {
                width: 90px;
            }

            svg {
                width : 25px;
                height: 34px;
            }

            span {
                margin-left: 2px;
                font-size  : 14px;
            }
        }
    }
}

// nav end
// footer start
@keyframes websafe {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    width           : 1519px;
    height          : 432px;
    padding         : 20px 0;
    background-color: #f6f9fa;

    h3 {
        font-size    : 16px;
        font-weight  : 400;
        line-height  : 20px;
        color        : #999999;
        margin-bottom: 20px;
    }

    .above {
        display: flex;
        height : 150px;

        .left {
            flex        : 2;
            margin-right: 40px;
            border-right: 1px solid #eeeeee;

            ul {
                display  : flex;
                height   : 110px;
                flex-wrap: wrap;

                li {
                    width        : 170px;
                    height       : 20px;
                    margin-bottom: 10px;
                    font-size    : 14px;
                }
            }
        }

        .middle {
            flex        : 3;
            margin-right: 40px;
            border-right: 1px solid #eeeeee;

            ul {
                display  : flex;
                height   : 110px;
                flex-wrap: wrap;

                li {
                    width        : 170px;
                    height       : 20px;
                    margin-bottom: 10px;
                    font-size    : 14px;
                }
            }
        }

        .right {
            flex   : 1.25;
            padding: 20px 0;

            ul {
                display  : flex;
                height   : 110px;
                flex-wrap: wrap;

                li {
                    flex     : 1;
                    height   : 85px;
                    margin   : auto 0;
                    font-size: 14px;

                    div {
                        width        : 50px;
                        height       : 50px;
                        margin-left  : 3px;
                        margin-bottom: 5px;
                        border-radius: 50%;

                        &::before {
                            content    : '';
                            font-family: 'iconmoon';
                            font-size  : 30px;
                            text-align : center;
                            line-height: 50px;
                            margin     : 0 11px;
                            color      : #fff;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }

                    &:nth-child(1) {
                        div {
                            background-color: #585f69;

                            &::before {
                                content: '\e9c7';
                            }
                        }
                    }

                    &:nth-child(2) {
                        div {
                            background-color: #fe596c;

                            &::before {
                                content: '\ea9a';
                            }
                        }
                    }

                    &:nth-child(3) {
                        div {
                            background-color: #42c86b;

                            &::before {
                                content: '\ea93';
                            }
                        }
                    }
                }
            }
        }
    }

    .below {
        height    : 222px;
        margin-top: 30px;

        div {
            float: left;
        }

        .left {
            width : 100px;
            height: 192px;

            img {
                width: 100px;
            }

            a {
                display : inline-block;
                position: relative;
                width   : 100px;
                height  : 40px;

                img {
                    position: absolute;

                    &:nth-child(2) {
                        animation: websafe 4s ease infinite;
                        opacity  : 1;
                    }
                }
            }
        }

        .right {
            width       : 1100px;
            height      : 222px;
            padding-left: 20px;
            color       : #999999;

            a {
                color: #999999;

                &:hover {
                    color: #00a1d6;
                }
            }

            span {
                float       : left;
                height      : 24px;
                margin-right: 15px;
            }

            p {
                height: 24px;

                &:nth-child(1) {
                    height: 72px;
                }
            }

            i {
                display   : inline-block;
                width     : 16px;
                height    : 16px;
                background: url(../images/hz_icon.png);
            }

            .sprite2 {
                width              : 18px;
                background-position: -42px 0;
            }

            .sprite3 {
                background-position: -18px 0;
            }
        }
    }
}

// footer end
// side-nav start
.side-nav {
    position   : sticky;
    top        : 10px;
    width      : 56px;
    height     : 600px;
    margin-left: 1370px;

    .customer {
        position        : fixed;
        top             : calc(50%-30px);
        left            : 0;
        margin-top      : -36px;
        padding         : 8px 7px;
        width           : 28px;
        height          : 72px;
        font-size       : 12px;
        color           : #505050;
        background-color: #fff;
        line-height     : 14px;
        text-align      : center;
        border          : 1px solid #e7e7e7;
        box-shadow      : 0 6px 10px 0 #e7e7e7;
        transition      : 0.3s;

        &:hover {
            color           : #505050;
            background-color: #f4f4f4;
        }
    }

    .side-list-wrap {
        position   : absolute;
        // right   : 90px;

        i {
            &::before {
                content    : '\e95b';
                font-family: 'iconmoon';
                position   : absolute;
                font-size  : 55px;
                margin-top : -22px;
                margin-left: 1px;
            }
        }

        .side-list {
            overflow        : hidden;
            width           : 56px;
            height          : 602px;
            padding-top     : 6px;
            border          : 1px solid #e7e7e7;
            border-radius   : 10px;
            background-color: #fff;
            transform       : translateZ(1px);

            li {
                position   : relative;
                width      : 54px;
                height     : 24px;
                text-align : center;
                line-height: 22px;
                transition : 0.3s;

                a {
                    display: inline-block;
                    width  : 100%;
                    height : 100%;
                    color  : #505050;
                }

                &:nth-child(23) {
                    width        : 54px;
                    height       : 32px;
                    margin-top   : 5px;
                    border-top   : 1px solid #e7e7e7;
                    border-bottom: 1px solid #e7e7e7;

                    a {
                        &::before {
                            content    : '\ea7f';
                            font-family: 'iconmoon';
                            font-size  : 20px;
                            text-align : center;
                            line-height: 32px;
                            color      : #505050;
                        }
                    }
                }

                &:nth-child(24) {
                    width : 54px;
                    height: 32px;

                    a {
                        &::before {
                            content    : '\ea7f';
                            font-family: 'iconmoon';
                            position   : absolute;
                            left       : 16px;
                            bottom     : 2px;
                            font-size  : 20px;
                            text-align : center;
                            line-height: 32px;
                            color      : #505050;
                            transform  : rotate(90deg);
                        }
                    }
                }

                &:hover {
                    background-color: #00a1d6;

                    a {
                        color: #fff;

                        &::before {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

// side-nav end