* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

.w {
    width : 1200px;
    margin: 0 auto;
}


@font-face {
    font-family: 'iconmoon';
    src        : url('../fonts/icomoon.eot');
    src        : url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#iconfont') format('svg');
}

em,
i {
    font-style: normal;
}

ol,
ul {
    list-style: none
}

a {
    color     : #212121;
    transition: color .3s
}

a:hover {
    color: #00a1d6
}

a,
a:hover {
    text-decoration: none
}

:focus,
a:focus {
    outline: none
}

button {
    cursor: pointer
}

button,
input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif
}

body {
    -webkit-font-smoothing: antialiased;
    background-color      : #fff;
    font                  : 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color                 : #666
}

.hide,
.none {
    display: none
}

.clearfix:after {
    visibility: hidden;
    clear     : both;
    display   : block;
    content   : ".";
    height    : 0
}

.clearfix {
    *zoom: 1
}

img {
    border        : 0;
    vertical-align: middle
}