* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
@font-face {
  font-family: 'iconmoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#iconfont') format('svg');
}
em,
i {
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
a {
  color: #212121;
  transition: color 0.3s;
  text-decoration: none;
}
a:hover {
  color: #00a1d6;
}
a:focus {
  outline: none;
}
:focus {
  outline: none;
}
button {
  cursor: pointer;
}
button,
input {
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #666;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}
img {
  border: 0;
  vertical-align: middle;
}
@keyframes move {
  0% {
    transform: translateY(0px);
  }
  5% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-32px);
  }
  55% {
    transform: translateY(-32px);
  }
  75% {
    transform: translateY(-64px);
  }
  100% {
    transform: translateY(-64px);
  }
}
@keyframes anime {
  0% {
    background: url(../images/header_anime1.png), url(../images/header_anime2.png), url(../images/header_anime3.png);
    background-size: 1530px 155px,
            1530px 155px,
            1530px 155px;
  }
  48% {
    background: url(../images/header_anime1.png);
    background-size: 1530px 155px;
  }
  49% {
    background: url(../images/header_anime2.png);
    background-size: 1530px 155px;
  }
  50% {
    background: url(../images/header_anime3.png);
    background-size: 1530px 155px;
  }
  51% {
    background: url(../images/header_anime2.png);
    background-size: 1530px 155px;
  }
  52% {
    background: url(../images/header_anime1.png);
    background-size: 1530px 155px;
  }
  100% {
    background: url(../images/header_anime1.png);
    background-size: 1530px 155px;
  }
}
header {
  position: relative;
  width: 1519px;
  height: 155px;
  background: url(../images/header_bg.png) no-repeat;
  background-size: 1530px 155px;
  z-index: -2;
}
header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  animation: anime 5s ease infinite;
}
header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/layer4.png), url(../images/layer3.png), url(../images/layer2.png), url(../images/layer1.png);
  background-size: 1530px 155px,
            1530px 155px,
            1530px 155px,
            1530px 155px;
  filter: blur(5px);
  z-index: -1;
}
header .shortcut-container {
  width: 100%;
  height: 56px;
  padding: 10px 24px;
}
header .shortcut-container div {
  float: left;
}
header .shortcut-container .shortcut {
  width: 535px;
  height: 36px;
  font-size: 14px;
}
header .shortcut-container .shortcut ul li {
  display: inline-block;
  height: 32px;
  margin: 2px 5px;
}
header .shortcut-container .shortcut ul li a {
  height: 32px;
  line-height: 32px;
  color: #fff;
}
header .shortcut-container .shortcut ul li:first-child a::before {
  content: '\e95b';
  font-family: 'iconmoon';
  margin-right: 5px;
  color: #fff;
}
header .shortcut-container .shortcut ul li:last-child a::before {
  content: '\e959';
  font-family: 'iconmoon';
  margin-right: 5px;
  color: #fff;
}
header .shortcut-container .shortcut ul li:nth-child(8) {
  overflow: hidden;
}
header .shortcut-container .shortcut ul li:nth-child(8) .rot {
  width: 30px;
  height: 32px;
  animation: move 5s ease infinite;
}
header .shortcut-container .shortcut ul li:nth-child(8) .rot img {
  width: 40px;
  height: 30px;
  transform: translateX(-5px);
}
header .shortcut-container form {
  float: left;
  width: 500px;
  height: 36px;
  background-color: #fff;
  border-radius: 2px;
  margin-left: 100px;
}
header .shortcut-container form input {
  padding-left: 20px;
  width: 450px;
  height: 36px;
  border: none;
  border-radius: 2px;
}
header .shortcut-container form button {
  width: 50px;
  height: 36px;
  border: none;
  border-radius: 2px;
  transition: 0.3s;
}
header .shortcut-container form button:hover {
  color: #00a1d6;
}
header .shortcut-container form button::after {
  content: '\e986';
  font-family: 'iconmoon';
}
header .shortcut-container .info {
  height: 36px;
  margin-left: 95px;
}
header .shortcut-container .info span {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  margin: 0 5px;
}
header .shortcut-container .info .icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url(../images/customer_icon.jpg) no-repeat;
  background-size: 32px 32px;
}
header .shortcut-container .info .publish {
  width: 100px;
  height: 36px;
  background-color: #fb7299;
  border-radius: 2px;
  text-align: center;
  line-height: 36px;
}
header .logo-wrap {
  height: 99px;
  position: relative;
}
header .logo-wrap .logo {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 162px;
  height: 77px;
  font-size: 0;
  background: url(../images/logo.png);
  background-size: 162px 77px;
}
nav {
  height: 108px;
  padding: 20px 0;
}
nav div {
  float: left;
}
nav .left {
  width: 200px;
  height: 68px;
}
nav .left li {
  float: left;
  width: 50px;
  height: 68px;
}
nav .left li div {
  margin: 5px 7px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
nav .left li div::before {
  content: '';
  font-family: 'iconmoon';
  font-size: 26px;
  text-align: center;
  line-height: 36px;
  margin: 0 5px;
  color: #fff;
}
nav .left li div::before:hover {
  color: #fff;
}
nav .left li span {
  display: block;
  width: 50px;
  font-size: 14px;
  text-align: center;
}
nav .left li:nth-child(1) div {
  background-color: #ff5c7c;
}
nav .left li:nth-child(1) div::before {
  content: '\e902';
}
nav .left li:nth-child(2) div {
  background-color: #fcba2a;
}
nav .left li:nth-child(2) div::before {
  content: '\e982';
}
nav .left li:nth-child(3) div {
  background-color: #ff716d;
}
nav .left li:nth-child(3) div::before {
  content: '\e99d';
}
nav .left li:nth-child(4) div {
  background-color: #6dc781;
}
nav .left li:nth-child(4) div::before {
  content: '\ea56';
}
nav .bar {
  width: 1px;
  height: 46px;
  background-color: #e7e7e7;
  margin: 15px 8px 0;
}
nav .middle {
  width: 748px;
  height: 68px;
}
nav .middle li {
  float: left;
  width: 61px;
  height: 34px;
  margin-right: 9px;
}
nav .middle li:nth-child(10n+8) {
  width: 75px;
}
nav .middle li:nth-child(10n+9) {
  width: 75px;
}
nav .middle li:nth-child(10n) {
  width: 89px;
  margin-right: 0px;
}
nav .middle li span {
  float: left;
  margin: 7px 0;
}
nav .middle li span:nth-child(1) {
  font-size: 14px;
}
nav .middle li span:nth-child(2) {
  margin-left: 3px;
  margin-top: 12px;
  width: 30px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  background-color: #73c9e5;
  color: #fff;
  border-radius: 2px;
}
nav .right {
  width: 218px;
  height: 68px;
}
nav .right li {
  float: left;
  width: 57px;
  height: 34px;
}
nav .right li:nth-child(3n) {
  width: 90px;
}
nav .right li svg {
  width: 25px;
  height: 34px;
}
nav .right li span {
  margin-left: 2px;
  font-size: 14px;
}
@keyframes websafe {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  width: 1519px;
  height: 432px;
  padding: 20px 0;
  background-color: #f6f9fa;
}
footer h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #999999;
  margin-bottom: 20px;
}
footer .above {
  display: flex;
  height: 150px;
}
footer .above .left {
  flex: 2;
  margin-right: 40px;
  border-right: 1px solid #eeeeee;
}
footer .above .left ul {
  display: flex;
  height: 110px;
  flex-wrap: wrap;
}
footer .above .left ul li {
  width: 170px;
  height: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}
footer .above .middle {
  flex: 3;
  margin-right: 40px;
  border-right: 1px solid #eeeeee;
}
footer .above .middle ul {
  display: flex;
  height: 110px;
  flex-wrap: wrap;
}
footer .above .middle ul li {
  width: 170px;
  height: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}
footer .above .right {
  flex: 1.25;
  padding: 20px 0;
}
footer .above .right ul {
  display: flex;
  height: 110px;
  flex-wrap: wrap;
}
footer .above .right ul li {
  flex: 1;
  height: 85px;
  margin: auto 0;
  font-size: 14px;
}
footer .above .right ul li div {
  width: 50px;
  height: 50px;
  margin-left: 3px;
  margin-bottom: 5px;
  border-radius: 50%;
}
footer .above .right ul li div::before {
  content: '';
  font-family: 'iconmoon';
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  margin: 0 11px;
  color: #fff;
}
footer .above .right ul li div::before:hover {
  color: #fff;
}
footer .above .right ul li:nth-child(1) div {
  background-color: #585f69;
}
footer .above .right ul li:nth-child(1) div::before {
  content: '\e9c7';
}
footer .above .right ul li:nth-child(2) div {
  background-color: #fe596c;
}
footer .above .right ul li:nth-child(2) div::before {
  content: '\ea9a';
}
footer .above .right ul li:nth-child(3) div {
  background-color: #42c86b;
}
footer .above .right ul li:nth-child(3) div::before {
  content: '\ea93';
}
footer .below {
  height: 222px;
  margin-top: 30px;
}
footer .below div {
  float: left;
}
footer .below .left {
  width: 100px;
  height: 192px;
}
footer .below .left img {
  width: 100px;
}
footer .below .left a {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 40px;
}
footer .below .left a img {
  position: absolute;
}
footer .below .left a img:nth-child(2) {
  animation: websafe 4s ease infinite;
  opacity: 1;
}
footer .below .right {
  width: 1100px;
  height: 222px;
  padding-left: 20px;
  color: #999999;
}
footer .below .right a {
  color: #999999;
}
footer .below .right a:hover {
  color: #00a1d6;
}
footer .below .right span {
  float: left;
  height: 24px;
  margin-right: 15px;
}
footer .below .right p {
  height: 24px;
}
footer .below .right p:nth-child(1) {
  height: 72px;
}
footer .below .right i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/hz_icon.png);
}
footer .below .right .sprite2 {
  width: 18px;
  background-position: -42px 0;
}
footer .below .right .sprite3 {
  background-position: -18px 0;
}
.side-nav {
  position: sticky;
  top: 10px;
  width: 56px;
  height: 600px;
  margin-left: 1370px;
}
.side-nav .customer {
  position: fixed;
  top: calc(50%-30px);
  left: 0;
  margin-top: -36px;
  padding: 8px 7px;
  width: 28px;
  height: 72px;
  font-size: 12px;
  color: #505050;
  background-color: #fff;
  line-height: 14px;
  text-align: center;
  border: 1px solid #e7e7e7;
  box-shadow: 0 6px 10px 0 #e7e7e7;
  transition: 0.3s;
}
.side-nav .customer:hover {
  color: #505050;
  background-color: #f4f4f4;
}
.side-nav .side-list-wrap {
  position: absolute;
}
.side-nav .side-list-wrap i::before {
  content: '\e95b';
  font-family: 'iconmoon';
  position: absolute;
  font-size: 55px;
  margin-top: -22px;
  margin-left: 1px;
}
.side-nav .side-list-wrap .side-list {
  overflow: hidden;
  width: 56px;
  height: 602px;
  padding-top: 6px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  background-color: #fff;
  transform: translateZ(1px);
}
.side-nav .side-list-wrap .side-list li {
  position: relative;
  width: 54px;
  height: 24px;
  text-align: center;
  line-height: 22px;
  transition: 0.3s;
}
.side-nav .side-list-wrap .side-list li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #505050;
}
.side-nav .side-list-wrap .side-list li:nth-child(23) {
  width: 54px;
  height: 32px;
  margin-top: 5px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.side-nav .side-list-wrap .side-list li:nth-child(23) a::before {
  content: '\ea7f';
  font-family: 'iconmoon';
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  color: #505050;
}
.side-nav .side-list-wrap .side-list li:nth-child(24) {
  width: 54px;
  height: 32px;
}
.side-nav .side-list-wrap .side-list li:nth-child(24) a::before {
  content: '\ea7f';
  font-family: 'iconmoon';
  position: absolute;
  left: 16px;
  bottom: 2px;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  color: #505050;
  transform: rotate(90deg);
}
.side-nav .side-list-wrap .side-list li:hover {
  background-color: #00a1d6;
}
.side-nav .side-list-wrap .side-list li:hover a {
  color: #fff;
}
.side-nav .side-list-wrap .side-list li:hover a::before {
  color: #fff;
}
.banner {
  height: 242px;
  margin-bottom: 40px;
}
.banner div {
  float: left;
}
.banner .left {
  position: relative;
  width: 550px;
  height: 242px;
}
.banner .left .swiper-container {
  width: 100%;
  height: 100%;
}
.banner .left .swiper-container .swiper-pagination {
  transform: translateX(210px);
}
.banner .left .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.banner .left .swiper-slide img {
  width: 100%;
  height: 100%;
}
.banner .left .swiper-slide .mask {
  width: 100%;
  height: 48px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 15px;
  color: #fff;
  font-size: 14px;
  text-align: left;
  line-height: 58px;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}
.banner .left .swiper-pagination-bullet {
  margin: 0 0 0 10px !important;
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 1;
}
.banner .left .swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  background: url(../images/icon_slide_selected.png) no-repeat;
  background-size: 20px 20px;
}
.banner .left .more {
  position: absolute;
  bottom: 45px;
  right: 15px;
  width: 56px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  color: #fff;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  transition: 0.5s ease;
}
.banner .left:hover .more {
  opacity: 1;
}
.banner .right {
  width: 638px;
  height: 242px;
  margin-left: 12px;
}
.banner .right .swiper-container {
  width: 100%;
  height: 100%;
  --swiper-navigation-color: #fff;
  --swiper-navigation-size: 25px;
}
.banner .right .swiper-container div[class^="swiper-button"] {
  top: 100px;
  width: 32px;
  height: 70px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s ease;
}
.banner .right .swiper-container .swiper-button-next {
  right: 0;
}
.banner .right .swiper-container .swiper-button-prev {
  left: 0;
}
.banner .right .swiper-container:hover div[class^="swiper-button"] {
  opacity: 1;
}
.banner .right .swiper-slide {
  text-align: center;
  font-size: 14px;
  background: #fff;
  height: calc((100% - 10px) / 2);
  overflow: hidden;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.banner .right .swiper-slide a img {
  width: 100%;
  height: 100%;
}
.banner .right .swiper-slide a .play {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  opacity: 0;
  background-image: url(../images/play.png);
  background-size: 28px 28px;
  transition: 0.4s ease;
}
.banner .right .swiper-slide a .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: calc(100% - 55px);
  padding: 26px 10px 10px;
  font-size: 12px;
  color: #fff;
  text-align: left;
  background-image: linear-gradient(transparent, #000);
  transition: 0.2s ease;
}
.banner .right .swiper-slide a .mask h3 {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.banner .right .swiper-slide a .mask p {
  display: none;
  margin-bottom: 3px;
}
.banner .right .swiper-slide a:hover .play {
  opacity: 1;
}
.banner .right .swiper-slide a:hover .mask {
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.banner .right .swiper-slide a:hover .mask h3 {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer   : ignore next */
  -webkit-box-orient: vertical;
}
.banner .right .swiper-slide a:hover .mask p {
  display: block;
}
.floor {
  height: 456px;
  margin-bottom: 40px;
}
.floor .left {
  float: left;
  width: 854px;
}
.floor .left .hd {
  height: 36px;
  margin-bottom: 16px;
}
.floor .left .hd svg {
  width: 36px;
  height: 36px;
  margin-right: 6px;
}
.floor .left .hd h3 {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #212121;
}
.floor .left .hd .info {
  color: #505050;
}
.floor .left .hd .info a::before {
  content: '\e9a9';
  font-family: 'iconmoon';
  margin-right: 5px;
  color: red;
}
.floor .left .hd .more {
  float: right;
  height: 22px;
  margin: 7px 0 7px 12px;
  color: #505050;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  transition: 0.3s ease;
}
.floor .left .hd .more a {
  display: block;
  margin: 0 10px;
  width: 100%;
  height: 100%;
  line-height: 20px;
}
.floor .left .hd .more:hover {
  background-color: #f4f4f4;
}
.floor .left .hd .more:hover a {
  color: #505050;
}
.floor .left .hd .change {
  float: right;
  width: 72px;
  height: 22px;
  margin: 7px 0;
  color: #505050;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  transition: 0.3s ease;
}
.floor .left .hd .change a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20px;
}
.floor .left .hd .change:hover {
  background-color: #f4f4f4;
}
.floor .left .hd .change:hover a {
  color: #505050;
}
.floor .left .bd {
  height: 404px;
}
.floor .left .bd li {
  float: left;
  position: relative;
  width: 206px;
  height: 190px;
  margin: 0 10px 20px 0;
}
.floor .left .bd li:nth-child(4n) {
  margin-right: 0;
}
.floor .left .bd li img {
  width: 206px;
  height: 116px;
}
.floor .left .bd li .play {
  position: absolute;
  bottom: 84px;
  right: 10px;
  width: 28px;
  height: 28px;
  opacity: 0;
  background-image: url(../images/play.png);
  background-size: 28px 28px;
  transition: 0.4s ease;
}
.floor .left .bd li .mask {
  position: absolute;
  bottom: 74px;
  width: 100%;
  height: 48px;
  opacity: 1;
  color: #fff;
  font-size: 12px;
  text-align: left;
  line-height: 70px;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  transition: 0.4s ease;
}
.floor .left .bd li .mask span::before {
  content: '';
  font-family: 'iconmoon';
  display: inline-block;
  margin: 0 5px 0 10px;
  vertical-align: middle;
}
.floor .left .bd li .mask span:nth-child(1)::before {
  content: '\e912';
}
.floor .left .bd li .mask span:nth-child(2)::before {
  content: '\ea03';
}
.floor .left .bd li:hover .play {
  opacity: 1;
}
.floor .left .bd li:hover .mask {
  opacity: 0;
}
.floor .left .bd li h3 {
  display: block;
  margin: 10px 0 8px;
  padding-right: 14px;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer      : ignore next */
  -webkit-box-orient: vertical;
}
.floor .left .bd li .up {
  color: #999999;
  transition: 0.3s;
}
.floor .left .bd li .up:hover {
  color: #00aae2;
}
.floor .right {
  float: right;
  width: 320px;
}
.floor .right .hd {
  height: 52px;
  padding: 0 16px 16px 0;
}
.floor .right .hd h3 {
  float: left;
  font-size: 20px;
  color: #212121;
  font-weight: 400;
}
.floor .right .hd .more {
  float: right;
  height: 22px;
  margin: 7px 0 7px 12px;
  color: #505050;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  transition: 0.3s ease;
}
.floor .right .hd .more a {
  display: block;
  margin: 0 10px;
  width: 100%;
  height: 100%;
  line-height: 20px;
}
.floor .right .hd .more:hover {
  background-color: #f4f4f4;
}
.floor .right .hd .more:hover a {
  color: #505050;
}
.floor .right .bd {
  height: 404px;
}
.floor .right .bd li {
  display: block;
  width: 320px;
  height: 20px;
  margin-bottom: 18px;
}
.floor .right .bd li span {
  float: left;
  width: 18px;
  height: 18px;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  color: #999;
}
.floor .right .bd li:nth-of-type(1) {
  height: 64px;
}
.floor .right .bd li:nth-of-type(1) a:nth-of-type(1) {
  position: relative;
  float: left;
  width: 112px;
  height: 63px;
}
.floor .right .bd li:nth-of-type(1) a:nth-of-type(1) img {
  width: 112px;
  height: 63px;
}
.floor .right .bd li:nth-of-type(1) a:nth-of-type(1) .play {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 28px;
  height: 28px;
  opacity: 0;
  background-image: url(../images/play.png);
  background-size: 28px 28px;
  transition: 0.4s ease;
}
.floor .right .bd li:nth-of-type(1) a:nth-of-type(1):hover .play {
  opacity: 1;
}
.floor .right .bd li:nth-of-type(1) a:nth-of-type(2) {
  float: left;
  width: 166px;
  height: 40px;
  margin-bottom: 5px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.floor .right .bd li:nth-of-type(1) div {
  float: left;
  margin-left: 10px;
}
.floor .right .bd li:nth-of-type(-n+3) span {
  color: #fff;
  background-color: #00a1d6;
}
.floor .right .bd li a {
  display: inline-block;
  width: 290px;
  height: 20px;
  margin-left: 10px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.recom {
  height: 244px;
}
.recom .left .bd {
  height: 192px;
}
.recom .left .bd li .mask {
  padding-right: 10px;
  text-align: right;
}
.recom .right .hd div {
  width: 320px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  background-color: #f4f4f4;
}
.recom .right .bd {
  height: 192px;
}
.recom .right .bd img {
  width: 100%;
  height: 100%;
}
.ad img {
  width: 100%;
  height: 100%;
}
.container {
  float: left;
  transform: translateX(160px);
}
.storey .live {
  margin-top: 105px;
  background-color: skyblue;
}
